.user-view__form-container {
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 8rem;
}

.heading-secondary {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(#52515d), to(#191726));
  background-image: linear-gradient(to right, #52515d, #191726);
  color: #d9bca3;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}
