.section {
  //   margin-bottom: 80px;
  margin: 5rem 2rem 0;

  & > * ~ * {
    margin-top: 70px;
  }

  &__title {
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
  }
}
