.videoBanner {
  margin-bottom: 2rem;
  position: relative;
  min-height: 70vw;

  #myVideo {
    position: absolute;
    left: -3rem;
    width: 100vw;
    @include tablet {
      left: -1rem;
    }

    @include mobile {
      left: -0.5rem;
      max-width: 100vw;
    }
  }

  #topLeftImg {
    position: absolute;
    left: -7rem;
    @include tablet {
      left: -2rem;
    }

    @include mobile {
      left: -1.5rem;
    }
  }
  #topRightImg {
    position: absolute;
    // right: 10rem;

    @include tablet {
      right: 0rem;
    }

    @include mobile {
      right: 0.5rem;
    }
  }
  #bottomImg {
    position: absolute;
    left: -4rem;
    @include tablet {
      max-width: 102%;
      bottom: 2.5rem;
      left: -2rem;
    }
  }
}
